/* Dracula Theme for Markdown
 * https://draculatheme.com/markdown-css
 *
 * Color Palette (from https://spec.draculatheme.com/)
 * Background:  #282A36
 * Foreground:  #F8F8F2
 * Selection:   #44475A
 * Comment:     #6272A4
 * Red:         #FF5555
 * Orange:      #FFB86C
 * Yellow:      #F1FA8C
 * Green:       #50FA7B
 * Purple:      #BD93F9
 * Cyan:        #8BE9FD
 * Pink:        #FF79C6
 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #282a36;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    line-height: 1.6;
    color: #f8f8f2;
    background-color: #282a36;
    padding: 2em;
    max-width: 900px;
    margin: 0 auto;
}

/* Links - Cyan */
a {
    color: #8be9fd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Headings - Purple */
h1, h2, h3, h4, h5, h6 {
    color: #bd93f9;
    font-weight: 600;
    line-height: 1.25;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;
    border-bottom: 1px solid #6272a4;
    padding-bottom: 0.3em;
}

h2 {
    font-size: 1.5em;
    border-bottom: 1px solid #6272a4;
    padding-bottom: 0.3em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.875em;
}

h6 {
    font-size: 0.85em;
}

/* Paragraphs */
p {
    margin-bottom: 1em;
}

/* Horizontal rules - Comment */
hr {
    background-color: #6272a4;
    border: 0;
    height: 0.25em;
    margin: 1.5em 0;
}

/* Blockquotes - Comment */
blockquote {
    border-left: 0.25em solid #6272a4;
    color: #6272a4;
    padding: 0 1em;
    margin: 0 0 1em 0;
}

blockquote > :first-child {
    margin-top: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

/* Lists - Pink markers */
ul, ol {
    margin: 0 0 1em 0;
    padding-left: 2em;
}

ul ul, ul ol, ol ol, ol ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol ol, ul ol {
    list-style-type: lower-roman;
}

ol ol ol, ol ul ol, ul ol ol, ul ul ol {
    list-style-type: lower-alpha;
}

li {
    margin-bottom: 0.25em;
}

li > p {
    margin-top: 1em;
}

li::marker {
    color: #ff79c6;
}

/* Definition lists */
dl {
    margin-bottom: 1em;
}

dt {
    font-weight: bold;
    margin-top: 1em;
}

dd {
    margin-left: 2em;
    margin-bottom: 0.5em;
}

/* Code - Green */
code, pre, kbd, samp {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Monaco, "Courier New", monospace;
}

code {
    background-color: #44475a;
    color: #50fa7b;
    border-radius: 3px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
}

pre {
    background-color: #44475a;
    border-radius: 6px;
    font-size: 0.9em;
    line-height: 1.45;
    overflow: auto;
    padding: 1em;
    margin: 0 0 1em 0;
}

pre code {
    background-color: transparent;
    color: #50fa7b;
    border: 0;
    padding: 0;
    font-size: inherit;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0 0 1em 0;
    overflow: auto;
}

table th {
    font-weight: 600;
}

table td, table th {
    border: 1px solid #6272a4;
    padding: 0.5em 1em;
}

table tr {
    background-color: #282a36;
    border-top: 1px solid #6272a4;
}

table tr:nth-child(2n) {
    background-color: #44475a;
}

/* Images */
img {
    border: 0;
    max-width: 100%;
    height: auto;
}

/* Keyboard input */
kbd {
    background-color: #44475a;
    border: 1px solid #6272a4;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #6272a4;
    color: #f8f8f2;
    display: inline-block;
    font-size: 0.8em;
    line-height: 1.4;
    padding: 0.1em 0.4em;
    vertical-align: middle;
}

/* Strong - Orange */
strong, b {
    font-weight: 600;
    color: #ffb86c;
}

/* Emphasis - Yellow */
em, i {
    font-style: italic;
    color: #f1fa8c;
}

/* Strikethrough */
del, s {
    color: #ff5555;
    text-decoration: line-through;
}

/* Inserted text */
ins {
    color: #50fa7b;
    text-decoration: underline;
}

/* Mark/highlight */
mark {
    background-color: #f1fa8c;
    color: #282a36;
    padding: 0.1em 0.2em;
}

/* Abbreviations */
abbr[title] {
    border-bottom: 1px dotted #6272a4;
    cursor: help;
    text-decoration: none;
}

/* Superscript/subscript */
sup, sub {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Task lists */
input[type="checkbox"] {
    margin-right: 0.5em;
}

/* Details/summary */
details {
    margin-bottom: 1em;
}

summary {
    cursor: pointer;
    font-weight: 600;
    color: #bd93f9;
}

/* Footnotes */
.footnotes {
    font-size: 0.9em;
    color: #6272a4;
    border-top: 1px solid #6272a4;
    margin-top: 2em;
    padding-top: 1em;
}

/* Selection */
::selection {
    background-color: #44475a;
    color: #f8f8f2;
}

/* Print styles */
@media print {
    body {
        background-color: white;
        color: black;
    }

    a {
        color: #0066cc;
    }

    pre, code {
        background-color: #f5f5f5;
        color: #333;
    }

    table, pre {
        page-break-inside: avoid;
    }
}
